/* To make red color exclamation mark */

.user-component__subtext-area {
  display: flex;
  align-items: center;
}
.user-component__text span {
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid tomato;
  border-radius: 50%;
  color: tomato;
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 5px;
}

.more-screen .icon-row {
  margin-top: 35px;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 40px;
}

.more-suggestions__title {
  margin-bottom: 30px;
}

.more-suggestions__icons {
  display: flex;
  position: relative;
}

.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions__icon-image i {
  font-size: 32px;
  color: white;
}

.more-suggestions__icon-image img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.screen-headerf-more__dot {
  position: absolute;
  right: -5px;
  bottom: 15px;
}
