.red-dot {
  background-color: tomato;
  display: flex;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
}

@keyframes reddotmovingAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: none;
  }
}
